FabyMart/Service References/ShippingReference/Service_1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://ws.aramex.net/ShippingAPI/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ws.dev.aramex.net/ShippingAPI.V2/Shipping/Service_1_0.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ShipmentCreationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ClientInfo" nillable="true" type="q1:ClientInfo" />
        <xs:element xmlns:q2="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q2:Transaction" />
        <xs:element xmlns:q3="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Shipments" nillable="true" type="q3:ArrayOfShipment" />
        <xs:element xmlns:q4="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="LabelInfo" nillable="true" type="q4:LabelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element name="UserName" nillable="true" type="xs:string" />
      <xs:element name="Password" nillable="true" type="xs:string" />
      <xs:element name="Version" nillable="true" type="xs:string" />
      <xs:element name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element name="AccountPin" nillable="true" type="xs:string" />
      <xs:element name="AccountEntity" nillable="true" type="xs:string" />
      <xs:element name="AccountCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q5="http://ws.aramex.net/ShippingAPI/v1/" name="ClientInfo" nillable="true" type="q5:ClientInfo" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element name="Reference1" nillable="true" type="xs:string" />
      <xs:element name="Reference2" nillable="true" type="xs:string" />
      <xs:element name="Reference3" nillable="true" type="xs:string" />
      <xs:element name="Reference4" nillable="true" type="xs:string" />
      <xs:element name="Reference5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q6="http://ws.aramex.net/ShippingAPI/v1/" name="Transaction" nillable="true" type="q6:Transaction" />
  <xs:complexType name="ArrayOfShipment">
    <xs:sequence>
      <xs:element xmlns:q7="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="Shipment" nillable="true" type="q7:Shipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q8="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfShipment" nillable="true" type="q8:ArrayOfShipment" />
  <xs:complexType name="Shipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reference1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference3" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://ws.aramex.net/ShippingAPI/v1/" name="Shipper" nillable="true" type="q9:Party" />
      <xs:element xmlns:q10="http://ws.aramex.net/ShippingAPI/v1/" name="Consignee" nillable="true" type="q10:Party" />
      <xs:element xmlns:q11="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ThirdParty" nillable="true" type="q11:Party" />
      <xs:element name="ShippingDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickupLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationsInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountingInstrcutions" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://ws.aramex.net/ShippingAPI/v1/" name="Details" nillable="true" type="q12:ShipmentDetails" />
      <xs:element xmlns:q13="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Attachments" nillable="true" type="q13:ArrayOfAttachment" />
      <xs:element minOccurs="0" name="ForeignHAWB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransportType_x0020_" type="xs:int" />
      <xs:element minOccurs="0" name="PickupGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ScheduledDelivery" nillable="true" type="q14:ScheduledDelivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q15="http://ws.aramex.net/ShippingAPI/v1/" name="Shipment" nillable="true" type="q15:Shipment" />
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reference1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://ws.aramex.net/ShippingAPI/v1/" name="PartyAddress" nillable="true" type="q16:Address" />
      <xs:element xmlns:q17="http://ws.aramex.net/ShippingAPI/v1/" name="Contact" nillable="true" type="q17:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q18="http://ws.aramex.net/ShippingAPI/v1/" name="Party" nillable="true" type="q18:Party" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="Line1" nillable="true" type="xs:string" />
      <xs:element name="Line2" nillable="true" type="xs:string" />
      <xs:element name="Line3" nillable="true" type="xs:string" />
      <xs:element name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateOrProvinceCode" nillable="true" type="xs:string" />
      <xs:element name="PostCode" nillable="true" type="xs:string" />
      <xs:element name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Floor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q19="http://ws.aramex.net/ShippingAPI/v1/" name="Address" nillable="true" type="q19:Address" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element name="PersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element name="PhoneNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber1Ext" nillable="true" type="xs:string" />
      <xs:element name="PhoneNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber2Ext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q20="http://ws.aramex.net/ShippingAPI/v1/" name="Contact" nillable="true" type="q20:Contact" />
  <xs:complexType name="ShipmentDetails">
    <xs:sequence>
      <xs:element xmlns:q21="http://ws.aramex.net/ShippingAPI/v1/" name="Dimensions" nillable="true" type="q21:Dimensions" />
      <xs:element xmlns:q22="http://ws.aramex.net/ShippingAPI/v1/" name="ActualWeight" nillable="true" type="q22:Weight" />
      <xs:element xmlns:q23="http://ws.aramex.net/ShippingAPI/v1/" name="ChargeableWeight" nillable="true" type="q23:Weight" />
      <xs:element name="DescriptionOfGoods" nillable="true" type="xs:string" />
      <xs:element name="GoodsOriginCountry" nillable="true" type="xs:string" />
      <xs:element name="NumberOfPieces" type="xs:int" />
      <xs:element name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element name="ProductType" nillable="true" type="xs:string" />
      <xs:element name="PaymentType" nillable="true" type="xs:string" />
      <xs:element name="PaymentOptions" nillable="true" type="xs:string" />
      <xs:element xmlns:q24="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="CustomsValueAmount" nillable="true" type="q24:Money" />
      <xs:element xmlns:q25="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="CashOnDeliveryAmount" nillable="true" type="q25:Money" />
      <xs:element xmlns:q26="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="InsuranceAmount" nillable="true" type="q26:Money" />
      <xs:element xmlns:q27="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="CashAdditionalAmount" nillable="true" type="q27:Money" />
      <xs:element minOccurs="0" name="CashAdditionalAmountDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q28="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="CollectAmount" nillable="true" type="q28:Money" />
      <xs:element minOccurs="0" name="Services" nillable="true" type="xs:string" />
      <xs:element xmlns:q29="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Items" nillable="true" type="q29:ArrayOfShipmentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q30="http://ws.aramex.net/ShippingAPI/v1/" name="ShipmentDetails" nillable="true" type="q30:ShipmentDetails" />
  <xs:complexType name="Dimensions">
    <xs:sequence>
      <xs:element name="Length" type="xs:double" />
      <xs:element name="Width" type="xs:double" />
      <xs:element name="Height" type="xs:double" />
      <xs:element name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q31="http://ws.aramex.net/ShippingAPI/v1/" name="Dimensions" nillable="true" type="q31:Dimensions" />
  <xs:complexType name="Weight">
    <xs:sequence>
      <xs:element name="Unit" nillable="true" type="xs:string" />
      <xs:element name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q32="http://ws.aramex.net/ShippingAPI/v1/" name="Weight" nillable="true" type="q32:Weight" />
  <xs:complexType name="Money">
    <xs:sequence>
      <xs:element name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q33="http://ws.aramex.net/ShippingAPI/v1/" name="Money" nillable="true" type="q33:Money" />
  <xs:complexType name="ArrayOfShipmentItem">
    <xs:sequence>
      <xs:element xmlns:q34="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="ShipmentItem" nillable="true" type="q34:ShipmentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q35="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfShipmentItem" nillable="true" type="q35:ArrayOfShipmentItem" />
  <xs:complexType name="ShipmentItem">
    <xs:sequence>
      <xs:element name="PackageType" nillable="true" type="xs:string" />
      <xs:element name="Quantity" type="xs:int" />
      <xs:element xmlns:q36="http://ws.aramex.net/ShippingAPI/v1/" name="Weight" nillable="true" type="q36:Weight" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element xmlns:q37="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="PiecesDimensions" nillable="true" type="q37:ArrayOfDimensions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q38="http://ws.aramex.net/ShippingAPI/v1/" name="ShipmentItem" nillable="true" type="q38:ShipmentItem" />
  <xs:complexType name="ArrayOfDimensions">
    <xs:sequence>
      <xs:element xmlns:q39="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="Dimensions" nillable="true" type="q39:Dimensions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q40="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfDimensions" nillable="true" type="q40:ArrayOfDimensions" />
  <xs:complexType name="ArrayOfAttachment">
    <xs:sequence>
      <xs:element xmlns:q41="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="q41:Attachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q42="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfAttachment" nillable="true" type="q42:ArrayOfAttachment" />
  <xs:complexType name="Attachment">
    <xs:sequence>
      <xs:element name="FileName" nillable="true" type="xs:string" />
      <xs:element name="FileExtension" nillable="true" type="xs:string" />
      <xs:element name="FileContents" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q43="http://ws.aramex.net/ShippingAPI/v1/" name="Attachment" nillable="true" type="q43:Attachment" />
  <xs:complexType name="ScheduledDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="PreferredDeliveryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PreferredDeliveryTimeFrame_x0020_" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredDeliveryTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q44="http://ws.aramex.net/ShippingAPI/v1/" name="ScheduledDelivery" nillable="true" type="q44:ScheduledDelivery" />
  <xs:complexType name="LabelInfo">
    <xs:sequence>
      <xs:element name="ReportID" type="xs:int" />
      <xs:element name="ReportType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q45="http://ws.aramex.net/ShippingAPI/v1/" name="LabelInfo" nillable="true" type="q45:LabelInfo" />
  <xs:element name="ShipmentCreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q46:Transaction" />
        <xs:element xmlns:q47="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Notifications" nillable="true" type="q47:ArrayOfNotification" />
        <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
        <xs:element xmlns:q48="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Shipments" nillable="true" type="q48:ArrayOfProcessedShipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfNotification">
    <xs:sequence>
      <xs:element xmlns:q49="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="Notification" nillable="true" type="q49:Notification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q50="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfNotification" nillable="true" type="q50:ArrayOfNotification" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element name="Code" nillable="true" type="xs:string" />
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q51="http://ws.aramex.net/ShippingAPI/v1/" name="Notification" nillable="true" type="q51:Notification" />
  <xs:complexType name="ArrayOfProcessedShipment">
    <xs:sequence>
      <xs:element xmlns:q52="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="ProcessedShipment" nillable="true" type="q52:ProcessedShipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q53="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfProcessedShipment" nillable="true" type="q53:ArrayOfProcessedShipment" />
  <xs:complexType name="ProcessedShipment">
    <xs:sequence>
      <xs:element name="ID" nillable="true" type="xs:string" />
      <xs:element name="Reference1" nillable="true" type="xs:string" />
      <xs:element name="Reference2" nillable="true" type="xs:string" />
      <xs:element name="Reference3" nillable="true" type="xs:string" />
      <xs:element name="ForeignHAWB" nillable="true" type="xs:string" />
      <xs:element name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q54="http://ws.aramex.net/ShippingAPI/v1/" name="Notifications" nillable="true" type="q54:ArrayOfNotification" />
      <xs:element xmlns:q55="http://ws.aramex.net/ShippingAPI/v1/" name="ShipmentLabel" nillable="true" type="q55:ShipmentLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q56="http://ws.aramex.net/ShippingAPI/v1/" name="ProcessedShipment" nillable="true" type="q56:ProcessedShipment" />
  <xs:complexType name="ShipmentLabel">
    <xs:sequence>
      <xs:element name="LabelFileContents" nillable="true" type="xs:base64Binary" />
      <xs:element name="LabelURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q57="http://ws.aramex.net/ShippingAPI/v1/" name="ShipmentLabel" nillable="true" type="q57:ShipmentLabel" />
  <xs:element name="LabelPrintingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ClientInfo" nillable="true" type="q58:ClientInfo" />
        <xs:element xmlns:q59="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q59:Transaction" />
        <xs:element minOccurs="0" name="ShipmentNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OriginEntity" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="LabelInfo" nillable="true" type="q60:LabelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabelPrintingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q61:Transaction" />
        <xs:element xmlns:q62="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Notifications" nillable="true" type="q62:ArrayOfNotification" />
        <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
        <xs:element minOccurs="0" name="ShipmentNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ShipmentLabel" nillable="true" type="q63:ShipmentLabel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickupCreationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ClientInfo" nillable="true" type="q64:ClientInfo" />
        <xs:element xmlns:q65="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q65:Transaction" />
        <xs:element xmlns:q66="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Pickup" nillable="true" type="q66:Pickup" />
        <xs:element xmlns:q67="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="LabelInfo" nillable="true" type="q67:LabelInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Pickup">
    <xs:sequence>
      <xs:element xmlns:q68="http://ws.aramex.net/ShippingAPI/v1/" name="PickupAddress" nillable="true" type="q68:Address" />
      <xs:element xmlns:q69="http://ws.aramex.net/ShippingAPI/v1/" name="PickupContact" nillable="true" type="q69:Contact" />
      <xs:element name="PickupLocation" nillable="true" type="xs:string" />
      <xs:element name="PickupDate" type="xs:dateTime" />
      <xs:element name="ReadyTime" type="xs:dateTime" />
      <xs:element name="LastPickupTime" type="xs:dateTime" />
      <xs:element name="ClosingTime" type="xs:dateTime" />
      <xs:element name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference2" nillable="true" type="xs:string" />
      <xs:element name="Vehicle" nillable="true" type="xs:string" />
      <xs:element xmlns:q70="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Shipments" nillable="true" type="q70:ArrayOfShipment" />
      <xs:element xmlns:q71="http://ws.aramex.net/ShippingAPI/v1/" name="PickupItems" nillable="true" type="q71:ArrayOfPickupItemDetail" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element xmlns:q72="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ExistingShipments" nillable="true" type="q72:ArrayOfExistingShipment" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q73="http://ws.aramex.net/ShippingAPI/v1/" name="Pickup" nillable="true" type="q73:Pickup" />
  <xs:complexType name="ArrayOfPickupItemDetail">
    <xs:sequence>
      <xs:element xmlns:q74="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="PickupItemDetail" nillable="true" type="q74:PickupItemDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q75="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfPickupItemDetail" nillable="true" type="q75:ArrayOfPickupItemDetail" />
  <xs:complexType name="PickupItemDetail">
    <xs:sequence>
      <xs:element name="ProductGroup" nillable="true" type="xs:string" />
      <xs:element name="ProductType" nillable="true" type="xs:string" />
      <xs:element name="NumberOfShipments" type="xs:int" />
      <xs:element name="PackageType" nillable="true" type="xs:string" />
      <xs:element name="Payment" nillable="true" type="xs:string" />
      <xs:element xmlns:q76="http://ws.aramex.net/ShippingAPI/v1/" name="ShipmentWeight" nillable="true" type="q76:Weight" />
      <xs:element xmlns:q77="http://ws.aramex.net/ShippingAPI/v1/" name="ShipmentVolume" nillable="true" type="q77:Volume" />
      <xs:element name="NumberOfPieces" type="xs:int" />
      <xs:element xmlns:q78="http://ws.aramex.net/ShippingAPI/v1/" name="CashAmount" nillable="true" type="q78:Money" />
      <xs:element xmlns:q79="http://ws.aramex.net/ShippingAPI/v1/" name="ExtraCharges" nillable="true" type="q79:Money" />
      <xs:element xmlns:q80="http://ws.aramex.net/ShippingAPI/v1/" name="ShipmentDimensions" nillable="true" type="q80:Dimensions" />
      <xs:element name="Comments" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q81="http://ws.aramex.net/ShippingAPI/v1/" name="PickupItemDetail" nillable="true" type="q81:PickupItemDetail" />
  <xs:complexType name="Volume">
    <xs:sequence>
      <xs:element name="Unit" nillable="true" type="xs:string" />
      <xs:element name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q82="http://ws.aramex.net/ShippingAPI/v1/" name="Volume" nillable="true" type="q82:Volume" />
  <xs:complexType name="ArrayOfExistingShipment">
    <xs:sequence>
      <xs:element xmlns:q83="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" maxOccurs="unbounded" name="ExistingShipment" nillable="true" type="q83:ExistingShipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q84="http://ws.aramex.net/ShippingAPI/v1/" name="ArrayOfExistingShipment" nillable="true" type="q84:ArrayOfExistingShipment" />
  <xs:complexType name="ExistingShipment">
    <xs:sequence>
      <xs:element name="Number" nillable="true" type="xs:string" />
      <xs:element name="OriginEntity" nillable="true" type="xs:string" />
      <xs:element name="ProductGroup" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q85="http://ws.aramex.net/ShippingAPI/v1/" name="ExistingShipment" nillable="true" type="q85:ExistingShipment" />
  <xs:element name="PickupCreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q86:Transaction" />
        <xs:element xmlns:q87="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Notifications" nillable="true" type="q87:ArrayOfNotification" />
        <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
        <xs:element xmlns:q88="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ProcessedPickup" nillable="true" type="q88:ProcessedPickup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProcessedPickup">
    <xs:sequence>
      <xs:element name="ID" nillable="true" type="xs:string" />
      <xs:element name="GUID" type="ser:guid" />
      <xs:element name="Reference1" nillable="true" type="xs:string" />
      <xs:element name="Reference2" nillable="true" type="xs:string" />
      <xs:element xmlns:q89="http://ws.aramex.net/ShippingAPI/v1/" name="ProcessedShipments" nillable="true" type="q89:ArrayOfProcessedShipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q90="http://ws.aramex.net/ShippingAPI/v1/" name="ProcessedPickup" nillable="true" type="q90:ProcessedPickup" />
  <xs:element name="PickupCancelationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ClientInfo" nillable="true" type="q91:ClientInfo" />
        <xs:element xmlns:q92="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q92:Transaction" />
        <xs:element minOccurs="0" name="PickupGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickupCancelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q93:Transaction" />
        <xs:element xmlns:q94="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Notifications" nillable="true" type="q94:ArrayOfNotification" />
        <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveRangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ClientInfo" nillable="true" type="q95:ClientInfo" />
        <xs:element xmlns:q96="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q96:Transaction" />
        <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q97:Transaction" />
        <xs:element xmlns:q98="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Notifications" nillable="true" type="q98:ArrayOfNotification" />
        <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
        <xs:element minOccurs="0" name="FromWaybill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToWaybill" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastReservedShipmentNumberRangeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ClientInfo" nillable="true" type="q99:ClientInfo" />
        <xs:element xmlns:q100="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q100:Transaction" />
        <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastReservedShipmentNumberRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q101:Transaction" />
        <xs:element xmlns:q102="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Notifications" nillable="true" type="q102:ArrayOfNotification" />
        <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
        <xs:element minOccurs="0" name="FromWaybill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToWaybill" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduledDeliveryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ClientInfo" nillable="true" type="q103:ClientInfo" />
        <xs:element xmlns:q104="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q104:Transaction" />
        <xs:element xmlns:q105="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Address" nillable="true" type="q105:Address" />
        <xs:element xmlns:q106="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="ScheduledDelivery" nillable="true" type="q106:ScheduledDelivery" />
        <xs:element minOccurs="0" name="ShipmentNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Entity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConsigneePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipperNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipperReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reference1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reference2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reference3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduledDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Transaction" nillable="true" type="q107:Transaction" />
        <xs:element xmlns:q108="http://ws.aramex.net/ShippingAPI/v1/" minOccurs="0" name="Notifications" nillable="true" type="q108:ArrayOfNotification" />
        <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>